<div style="background-color: #e9eaed;">
  <h1>Sign Up</h1>
  <form action="/user/signup_complete" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    Retype Password: <input type="password" name="retype_password"><br>
    <input type="submit" value="Sign Up">
  </form>
</div>
